@media (max-width:480px) {
.aside {
 


  
  


// .product {
    
//     &__text {
//       font-size: 20px;
//     }
//     &__title{
//       font-size: 18px;
//     }
//     &__def {
//       font-size: 12px;
//     }
//     table {
//       font-size: 12px;
//     }
//   }
// }

    
  .hamburger {
    display: flex;
    justify-content: flex-end;
   } 
  .menu-btn {
    top:0;
    right: -100px;
    width: 25px;
    height: 25px;
    position: relative;
    z-index:2;
    overflow: hidden;
}
  .menu-btn span {
    width: 30px;
    height: 2px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #222222;
    transition: all 0.5s;
  }
  .menu-btn span:nth-of-type(2) {
  top: calc(50% - 5px);
  }
   .menu-btn span:nth-of-type(3) {
     top: calc(50% + 5px);
   }
  .menu__list{
    position: fixed;
    left: 0;
    width: 100%;
    height: 100%;
    background: #FFF;
    transform: translateX(-100%);
    transition: transform 0.5s; 
 }

 .menu__list.active {
   transform: translateX(0);
   padding-left: 70px;
   z-index: 2;
 }
 .menu__item {
   list-style-type: none;
}
 /* Меняем гамбургер иконку, когда меню открыто */
 .menu-btn.active span:nth-of-type(1) {
  display: none;
 }
 .menu-btn.active span:nth-of-type(2) {
   top: 50%;
   transform: translate(-50%, 0%) rotate(45deg);  
 }
 .menu-btn.active span:nth-of-type(3) {
   top: 50%;
   transform: translate(-50%, 0%) rotate(-45deg); 
}
}
}