.td__item {
    width: 80px;
    height: 29px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.5;
    background: #FFC5C5;
    border: 1px solid #DF0404;
    color: #DF0404;
    border-radius: 4px;
    &__btn {
        width: 84px;
    }
}
.actives {
    
    color: #008767;
    background: rgba(22, 192, 152, 0.38);
    border: 1px solid #00B087;
}