.title {
    line-height: 1.5;
    color: #000000;
}
.title_fz26{
    font-weight: 600;
    font-size: 26px;
    
     
}

.title_fz24 {
  
    font-weight: 500;
    font-size: 24px;
    
}
.title_fz22  {
    
    font-weight: 600;
    font-size: 22px;
    
}
.title_fz14  {

    font-weight: 500;
    font-size: 14px;
   
    
}
.title_fz12 {

    font-size: 12px;
    line-height: 1.5;
    color: #757575;

}